.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#foot{
  position:absolute;
  left:0;
  bottom:0;
  right:0;

}

#caro {
  padding-bottom: 20px;
  padding-top: 20px;
}

#root {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 60px; /* height of your footer */
}

.App-link {
  color: #09d3ac;
}
